<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
}
else
{
    <div class="center">
        <button class="btn">@Html.ActionLink("Register", "Register")</button>
        <button class="btn">@Html.ActionLink("Log in", "Login")</button>
        <button class="btn">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>
}