@model PierresTreats.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{   
    <div class="well">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)<br>
        <input type="submit" value="Add new flavor" class="btn"/>
    </div>
}