@model PierresTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    <div class="well">
        @Html.HiddenFor(model => model.FlavorID)

        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)

        <input type="submit" value="Save"  class="btn"/>
    </div>
}